@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@500&display=swap');

.App {
  background-image: url('../images/Rectangle\ 3.png');
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.underline-animation {
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
}

.underline-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #041A57;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.underline-animation:hover::before,
.underline-animation:focus::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.custom-bg{
  background-image: url("../images/banner-text-bg.png");
  background-color: #041A57;
  background-size: cover;
  color: #ffc107;
}
